<% include ../partials/header %>

<div class="container">
  <div><%= icecream.flavor %></div>
  <div><%= icecream.description %></div>
  <div><%= icecream.imageUrl %></div>
</div>




<% include ../partials/footer %>